<div class="d-flex justify-content-between mt-4">
  <h3>Treatments</h3>
  <%= link_to 'New Treatment', new_appointment_treatment_path(@appointment), class: "btn btn-success" %>
</div>

<table class="table mt-2">
  <thead>
    <tr>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @appointment.treatments.each do |t| %>
      <tr>
        <td><%= t.description %></td>
        <td>
          <%= link_to 'Edit', edit_appointment_treatment_path(@appointment, t), class: "btn btn-sm btn-warning" %>
          <%= button_to 'Delete', appointment_treatment_path(@appointment, t), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger d-inline" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>