<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">VetClinic</a>
    <div class="navbar-nav">
      <%= link_to 'Dueños', owners_path, class: 'nav-link' %>
      <%= link_to 'Mascotas', pets_path, class: 'nav-link' %>
      <%= link_to 'Vets', vets_path, class: 'nav-link' %>
      <%= link_to 'Citas', appointments_path, class: 'nav-link' %>
    </div>
  </div>
</nav>